@import "../../style/import.scss";

.dish-screen {
  @extend .container;
  padding-top: 4rem;
  min-height: 20rem;

  &__image {
    max-width: 100%;
  }

  &__next-module {
    margin-top: 4rem;
    position: sticky;
    top: 4rem;
  }
}
