@import "../../../style/import.scss";

.gallery {
  height: 100%;
  min-height: 10rem;
  border: 2px solid $neutral-color-contrast;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
