@import "../../style/import.scss";

.drinks-screen {
  @extend .container;
  padding-top: 4rem;

  &__beer {
    border: 3px solid $secondary-color;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;

    &__image {
      max-width: 100%;
    }

    &__name {
      height: 2rem;
      line-height: 1rem;
      margin: 1rem 0 0;
    }

    &:hover {
      cursor: pointer;
      scale: 1.05;
      transition: 200ms;
    }

    &--selected {
      border: 3px solid $primary-color;
    }
  }

  &__next-module {
    margin-top: 4rem;
    position: sticky;
    top: 4rem;
  }
}
