@import "../../style/import.scss";

.navbar {
  position: fixed;
  z-index: 1;
  background-color: white;

  padding: 0;
  height: 3rem;
  width: 100%;

  border-bottom: 3px solid $primary-color;
  color: $primary-color;

  &__content {
    @extend .container;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__items {
    width: 100%;
  }

  &__logo {
    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    @extend .col-2;
  }
}
